[submodule "stationapi"]
	path = stationapi
	url = ../swg-stationapi.git
[submodule "dsrc"]
	path = dsrc
	url = ../swg-dsrc.git
[submodule "src"]
	path = src
	url = ../swg-src.git
[submodule "clientdata"]
	path = clientdata
	url = ../swg-clientdata.git
[submodule "dependencies"]
	path = dependencies
	url = ../swg-dependencies.git
	ignore = dirty
[submodule "configs/example"]
	path = configs/example
	url = ../swg-configs.git
[submodule "mods/sku.ostrich"]
	path = mods/sku.ostrich
	url = ../swg-sku.ostrich.git
